body, section, p, nav, header, h2, h3, h4, h5 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: middle;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

body {
    font-size: 14px;
    font-family: "微软雅黑";
}

header {
    margin-bottom: 18px;
}

.center {
    width: 1181px;
    margin: 0 auto;
}

a {
  text-decoration: none;
}
/*header*/

.login {
    text-align: right;
    padding: 2px 0 2px 0;

}

.login a {
    font: 12px/21px "微软雅黑";
    color: #6e6464;
    padding: 0 10px 0 12px;
    border-right: 1px solid #f2f2f2;
}

.login a.noborder {
    border: none;
}
.login img {
    vertical-align: top;
}

.logo {
    float: left;
    margin: 5px 14px 0 2px;
}

.searchBox {
    float: left;
}
.searchBox p {
    padding-bottom: 10px;
}
.searchBox p a{
    font: 14px/14px "微软雅黑";
    color: #555555;
    margin-right: 14px;
}

.searchBox div {
    font-size: 0;
}

.searchBox .text {
    width: 453px;
    height: 32px;
    font: 14px/32px "微软雅黑";
    border: 1px solid #b8b8b8;
    vertical-align: top;
}

.searchBox .btn {
    width: 97px;
    font: 16px/32px "微软雅黑";
    border: 1px solid #cccccc;
    border-left: none;
    margin-right: 13px;
    background: url("../images/line_bg.gif") repeat-x;
}

.searchBox .ask {
    font-size: 14px;
    color: #3c7ce0;
    text-decoration: underline;
}

/*nav*/
nav {
    height: 40px;
    background: url("../images/nav_bg.gif");
}
nav ul {
    float: left;
}
nav li {
    float: left;
    padding: 0 70px;
    border-right: 1px solid #09a800;
}

nav li a {
    color: #fff;
    font: 18px/40px "微软雅黑";
}

nav li a.active, nav li a:hover{
    color: #faff64;
}

nav .center div {
    float: right;
}

nav .center div a {
    color: #fff;
    font: 16px/40px "微软雅黑";
    padding-left: 23px;
    margin-right: 30px;
    background: url("../images/ico_02.gif") no-repeat left;
}

nav .center div a.phone {
    background: url("../images/ico_03.gif") no-repeat left;
}

/*banner*/
#banner {
    background: #efecda url("../images/banner.jpg") center no-repeat;
}

#banner .center {
    height: 400px;
    position: relative;
}

#banner .title {
    width: 496px;
    height: 56px;
    padding: 2px 0 6px 7px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 220px;
}

#banner .title h2 {
    font: 30px/37px "微软雅黑";
}

#banner .title h2 a {
    color: #fff;
}

#banner .title span {
    font: 12px/19px "微软雅黑";
}

#banner .title span a {
    color: #fff;
}

#banner ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#banner li {
    float: left;
    width: 209px;
    padding: 7px 20px 7px 7px;
    background: rgba(255, 255, 255, 0.9);
    margin-right: 18px;
    display: table;
}

#banner li img {
    float: left;
    margin-right: 13px;
}

#banner li a {
    font: 15px/24px "微软雅黑";
    color: #373c35;
}

#banner li p {
    display: table-cell;
    vertical-align: middle;
}

.slogin {
    width: 270px;
    position: absolute;
    right: 0;
    top: 20px;
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.9);
}

.subTitle {
    margin: 0 20px 0 20px;
    border-bottom: 1px dotted #bfbfbd;
}

.subTitle h3 {
    float: left;
    font: 16px/39px "微软雅黑";
}

.subTitle a {
    float: right;
    line-height: 39px;
}

#banner .text {
    font: bold 24px/38px "微软雅黑";
    margin: 45px 23px 34px 17px;
    color: #42c166;
    background: url("../images/know_bg.gif") no-repeat right;
}

#banner .number {
    text-align: center;
    font: 12px/42px "微软雅黑";
    color: #3e4346;
    vertical-align: middle;
}

#banner .number span {
    font-size: 23px;
    color: #e96c29;
    vertical-align: middle;
    margin: 0 12px;
}

#banner .know {
    font: 14px/32px "微软雅黑";
    text-align: center;
}

#banner .know a{
    color: #787878;
    text-decoration: underline;
}

#banner .subNav {
    height: 60px;
    background: #59cd78;
    text-align: center;
    font-size: 0;
}

#banner .subNav a {
    font: 16px/60px "微软雅黑";
    color: #fff;
    padding-left: 17px;
    background: url("../images/ico_05.gif") no-repeat left;
}

#banner .subNav a.answer {
    background: url("../images/ico_06.gif") no-repeat 50px;
    padding-left: 70px;
}

